# ========== Configuración del Servidor ==========
PORT=3000                                # Puerto en el que se ejecutará la aplicación

# ========== Configuración de Base de Datos ==========
# Credenciales para la conexión con MySQL
DB_HOST=localhost                        # Dirección del servidor de base de datos
DB_NAME=db_recuerdos                     # Nombre de la base de datos
DB_USER=root                             # Usuario de la base de datos
DB_PASSWORD=''   